
        
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  

  {{!-- Code for header background --}}
   <div id="bg" class="py-3 text-center" style="background-image: url(https://ichef.bbci.co.uk/news/912/cpsprodpb/179AE/production/_103568669_gettyimages-579236076.jpg); border: 1px solid black;"> 
  {{!-- Jumbotron --}}
    <div class="container">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <div class="jumbotron">
    <h1 class="display-4"><i class="fab fa-wordpress"></i>Vocabulary Builder</h1>
    <p class="lead">Build Your Vocabs here!</p>
    <hr class="my-4">
    {{!-- Text area --}}
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Add word and category</label>
    <textarea class="form-control" id="input-word" rows="2"></textarea><br>

<div class="custom-control custom-radio custom-control-inline">
  <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="learning">
      LEARNING 
  </label>
</div>

<div class="custom-control custom-radio custom-control-inline">
  <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="mastered">
      MASTERED 
  </label>
</div>

  </div>

    <button type="button" class="btn btn-primary"id="submit-btn"><i class="fas fa-plus"></i>  Add Word</button>
    <button type="button" class="btn btn-primary"id="view-btn">View all Learners</button><br><br>

    <textarea class="form-control" id="input-learner" rows="2"></textarea><br>
    <button type="button" class="btn btn-primary"id="learner-btn" href="#modal">Learners status</button>

    </div>
    </div>
    <div class="col-md-2"></div>
    </div>

    {{!-- Table1 --}}
    {{!-- Row --}}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
    <table class="table table-dark"id="wordTable">
  <thead>
    <tr class="table-warning">
        <td class="table-warning text-dark" colspan="6">LEARNING TABLE</td>
    </tr>
    <tr class="header">
      <th scope="col"class="text-light">#</th>
      <th scope="col"class="text-light">WORD</th>
      <th scope="col"class="text-light">STATUS</th>
      <th scope="col"class="text-light">DELETE</th>
      <th scope="col"class="text-light">LEARNED BY</th>
    </tr>
  </thead>
  <tbody>
    
    {{#each result}}
    {{#unless MASTERED}}
      {{> vocabs/vocab-block MASTERED=true}}
    {{/unless}}
  {{/each}}
  
  </tbody>
</table>
</div>
<div class="col-md-2"></div>
</div>

{{!-- Table2 --}}
    {{!-- Row --}}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
    <table class="table table-dark"id="masteredTable">
  <thead>
    <tr class="table-success">
        <td class="table-success text-dark" colspan="6">MASTERED TABLE</td>
    </tr>
    <tr class="white-text lighten-2">
      <th scope="col"class="text-light">#</th>
      <th scope="col"class="text-light">WORD</th>
      <th scope="col"class="text-light">STATUS</th>
      <th scope="col"class="text-light">DELETE</th>
      <th scope="col"class="text-light">LEARNED BY</th>
    </tr>
  </thead>
  <tbody>
    
      {{#each result}}
    {{#if MASTERED}}
      {{> vocabs/vocab-block MASTERED=false}}
    {{/if}}
  {{/each}}
    
  </tbody>
</table>
</div>
<div class="col-md-2"></div>
</div>

{{!-- Table3 --}}
    {{!-- Row --}}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
    <table class="table table-dark d-none"id="viewTable">
  <thead>
    <tr class="table-success">
        <td class="table-success text-dark" colspan="4">LEARNERS</td>
    </tr>
    <tr>
      <th scope="col"class="text-light">#</th>
      <th scope="col"class="text-light">NAME</th>
      <th scope="col"class="text-light">WORDS</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>
</div>
<div class="col-md-2"></div>
</div>

    </div>
    {{!-- Modal --}}
       <div class="modal" tabindex="-1" role="dialog"id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

      </div>
      <div class="modal-body"id="text">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"id="close-btn">Close</button>
      </div>
    </div>
  </div>
</div>
